

.table-td{
  .table-td__operation-price{
    margin-bottom: 5px;
  }
}

.go-back{
  font-weight: 600;
  background: $lightGray;
  padding: 7px 20px;
  margin-bottom: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
