@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*, *:after, *:before {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', '-apple-system', 'BlinkMacSystemFont', "segoe ui", 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  min-height: 100%;
}
html{
  min-height: 100%;
}

.container{
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

li, ul{
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
main{
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.main-wrapper{
  flex: 1 0 auto;
}
a {
  text-decoration: none;
}
p{
  margin: 0;
}

section{
  margin-bottom: 30px;
}

.increase {
  color: $green;
}

.decrease {
  color: $red;
}


