$green: rgb(22, 199, 132);
$gray: rgb(88, 102, 126);
$lightGray: #eff2f5;
$white: white;
$darkLight: rgb(248, 250, 253);
$black: black;
$blue: rgb(56, 97, 251);
$MGray: #58667e;
$lightGray--l: #f8fafd;
$svg--display: #a6b0c3;
$symbol: #808A9D;
$red: #ea3943;
$background: rgba(10, 30, 66, 0.4);
$borderInput:  rgb(207, 214, 228);
$borderInputHover:  rgb(166, 176, 195);
$violet: rgb(56, 97, 251);
$lightDark: rgb(23, 25, 36);


