.portfolio-panel{
  .portfolio-panel__line{
    width: 100%;
    background: $lightGray;
    height: 1px;
    margin: 30px 0;
  }
  .check-mark{
    max-width: 16px;
    fill: $blue;
  }
  .portfolio-panel__item{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 10px;
    &:hover{
      background: $lightGray;
    }
  }
}

