.table-tr {
  display: grid;
  grid-template-columns: 1fr max(130px) max(100px) max(130px) max(120px) max(160px) max(110px);
  border-bottom: 1px solid #eff2f5;
  min-height: 80px;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  transition: .5s ease background-color;

  &:hover {
    background-color: #f8fafd;
  }
}

.table-td.decrease {
  color: $red;
  svg{
    transform: rotate(180deg);
    fill: $red;
  }
}
.table-td .table-td__percents.decrease {
  svg{
    fill: $red;
    transform: rotate(180deg);
  }
}
.table-td .table-td__percents.increase {
  svg{
    fill: $green;
  }
}

.table-td.increase {
  color: $green;
  fill: $green;
}

.popup{
  .popup__option{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: all .3s;
    cursor: pointer;
    border-radius: 8px;
    svg{
      max-width: 18px;
      margin-right: 10px;
    }
    &:hover{
      background: $lightGray;
    }
  }
}

.table-td {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 500;
  padding: 10px;
  text-align: right;
  color: $lightDark;

  .table-td__popup{
    padding: 5px;
    position: absolute;
    z-index: 30;
    bottom: -85px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(128,138,157,0.12),0px 8px 32px rgba(128,138,157,0.24);
    right: 0;
    width: 165px;
    height: 90px;
    background: $white;
  }

  .table-td__actions{
    fill: $MGray;
    text-align: center;
    padding: 8px 10px;
    border-radius: 50%;
    width: 32px;
    transition: all .2s;
    margin-right: 5px;
    svg{
      width: 13px;
      height: 13px;
    }
    &:hover{
      box-shadow: rgb(239 242 245) 0px 0px 0px 3px;
      background: $darkLight;
    }
  }
  .table-td__inner{
    display: flex;
    align-items: center;
  }

  svg{
    max-width: 10px;
    margin-right: 5px;
  }

  .asset-hold-usd {
    color: $black;
    margin-bottom: 3px;
  }
  .table-td__percents{
    font-size: 12px;
    font-weight: 600;
  }

  .table-td__profit {
    margin-bottom: 5px;
  }

  &:first-child {
    text-align: left;
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.asset-img {
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

.asset-name-td {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 600;
  align-items: center;
  grid-gap: 5px;

  .asset-name {
    color: $lightDark
  }
}

.asset-short-name {
  font-size: 12px;
  font-weight: 400;
  color: rgb(128, 138, 157);
}

.asset-hold-tokens {
  color: rgb(88, 102, 126);
  font-size: 12px;
}

