.price-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  .prise-section__pre-title {
    color: $gray;
    font-size: 12px;
    margin-bottom: 10px;
  }

}

.price-section__block {
  .block__inner{
    display: flex;
    align-items: center;
  }
  .price-section__title {
    letter-spacing: 1px;
    font-size: 32px;
    color: $black ;
    margin-right: 16px;
  }
}

.info-block {
  display: flex;
  align-items: center;

  .info-block__value {
    margin-right: 10px;
    color: $green;
    font-weight: 700;
  }

  .info-block__duration {
    padding: 5px;
    color: $gray;
    background: $lightGray;
    border-radius: 8px;
  }
}
