.details__inner{
  display: flex;
  align-items: center;
}

.details__block{
  margin-right: 40px;
  &:last-child{
    margin-right: 0;
  }
  .block__value{
    font-weight: 700;
  }
  .block__title{
    color: $gray;
    font-size: 12px;
    margin-bottom: 5px;
  }
}
