.hid{
  height: 100vh;
  overflow: hidden;
}
.header{
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  .header__wrapper{
    display: flex;
    justify-content: space-between;
  }
  .header__logo{
    max-width: 30px;
  }
}
