.hid{
  height: 100vh;
  overflow: hidden;
}
.header{
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  &:hover{
    .header__user{
      .exit{
        top: -15px;
        left: 0;
      }
    }
  }
  .header__wrapper{
    display: flex;
    justify-content: space-between;
  }
  .header__logo{
    max-width: 30px;
  }
}

.header__user{
  display: flex;
  align-items: center;
  transition: all .3s;
  .user__img{
    transition: all .3s;
    max-width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    img{
      height: 100%;
      display: block;
    }
  }
  .user__info{
    position: relative;
    display: flex;
    flex-direction: column;
    .exit{
      transition: all .3s;
      position: absolute;
      top: -100px;
      left: 0;
      background: $red;
    }
  }
}

